
.top_left_corner
{
	float: left;
	padding-top: 2em;
	padding-left:2em;
	
}
#green_point_text
{
	text-align: justify;
	font-size: 12pt;
	line-height: 1.5em;
	
	margin-top: 2em;

}
#circle {
    background-color:rgba(0,200,0,0.9);
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
  

}​


