.top_left_corner
{
	float: left;
	padding-top: 2em;
	padding-left:2em;
	
}
#content_container
{
	margin-top: 2em;

}

textarea
{
	width: 100%;
	height: 20%;
	resize:none;
}
table
{
	
	width: 50em;
	height: 40em;
	vertical-align: middle;
	border-collapse: collapse;
	table-layout:fixed;
	
	font-size: 12pt;
	
	border: 2px solid black;
	text-align: left;
	
}
td{
	
	
	/*border: 2px solid black;*/
}
