input[type="text"]
{
	
	width: 25em;
	height: 2em;
	
	
}

form
{
	margin-top: 2.5em;
}

.end_of_text
{
	margin-bottom: 2em
}
.top_left_corner
{
	float: left;
	padding-top: 2em;
	padding-left:2em;
	position: fixed;
	
}
.column {
    width: 300px;
    text-align: justify;
    padding-top: 2em;
    font-size: 12pt;
    line-height: 19pt;
    
}​

